@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323&display=swap');

@font-face {
  font-family: PressStart2P;
  src: url(../font/PressStart2P-Regular.ttf);
}

body {
  overflow-x: hidden;
  position: relative;
  padding: 0px;
  margin: 0px;
}

/* PRESS START animation */
.blinker-box {
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.blinker-text {
  font-family: "PressStart2P";
  color: white;
  text-decoration: none;
  text-align: center;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}
